---
description: >-
  Meta Business Verification ensures that businesses using Meta platforms are
  authentic and adhere to Meta’s policies. Verified accounts gain access to
  advanced features
---

# Meta Business Verification

## **Why Verify Your Facebook Business Manager?**

Without verification, you can send broadcast messages to only 250 contacts daily. Starting from 1st Nov 2023, Business Verification is no longer mandatory to increase your messaging limit. You can increase your limit by messaging 1,000 unique contacts in a rolling 30-day period while maintaining a high-quality rating.

{% hint style="info" %}
Business Manager verification is NOT related to obtaining a WhatsApp Blue Tick. There is a separate application process for the Blue Tick, which can be initiated after completing verification. For more information on the Blue Tick process, contact your dedicated Support Team or email [support@seampify.com](mailto:support@seampify.com).
{% endhint %}



## Documents Checklist

Before submitting for Business Verification, please prepare the below:

* Admin of the Meta Business Portfolio that you wish to verify
* A valid website:
  * Viewable and belongs to your business
  * Contain informations that can determine your business industry
  * Has a matching domain with display name
  * Features your company's name or logo
* A matching email domain with your website address to receive OTP (Preferred method)
* Official document(s) to verify your business - [refer accepted documents here](meta-business-verification.md#accepted-official-documents-to-verify-your-business)



## Steps to Verify Your Facebook Business Manager

### Step 1: Login to Meta Business Manager

{% hint style="warning" %}
Only admins of the Meta Business Portfolio can request for Business verification&#x20;
{% endhint %}

1. Visit the[ Security Centre ](https://business.facebook.com/latest/settings/security_center)on Meta Business Manager.
2. Select **Start Verification** button.

<figure><img src="../.gitbook/assets/image (697).png" alt="" width="563"><figcaption></figcaption></figure>

3. Click **Get Started** button.

<figure><img src="../.gitbook/assets/image (698).png" alt="" width="355"><figcaption></figcaption></figure>

### Step 2: Enter Your Business Details

1. Select your business location.

<figure><img src="../.gitbook/assets/image (700).png" alt="" width="375"><figcaption></figcaption></figure>

2. Enter your business name and address exactly as they appear on your legal documents.

{% hint style="danger" %}
Note: Enter details EXACTLY as specified in Documents:

* **Legal Name Document & Address Proof Document**\
  Please ensure all documents have the same legal name & address.
* **Business Website**\
  Ensure your website is live with some details about your business and you’ve an working email address associated with your business domain
* **Business Legal name in the website URL submitted**\
  In case your Legal name & Brand name is different, ensure your company’s legal name is on the footer of your website. For example,<img src="../.gitbook/assets/image (699).png" alt="" data-size="line">
{% endhint %}

<figure><img src="https://lh7-rt.googleusercontent.com/slidesz/AGV_vUc7oohhPLdp89f8g_QYm8ogUK0ZnX-gvY_SF5Lxplq_RROWyQtX5Sfi62SPlM-lPE_Ph55_X8pv72p_VOcNupWrWEE7QxVGJxMm8fq66wolClfggJeM-NXHZYBXfsWvVXaSSrkg6tlalXDiRGJVm8wBq62Oihb5=s2048?key=xASp0vI8HGng550mKgBz0g" alt="" width="375"><figcaption></figcaption></figure>

### Step 3: Select Your Business

1. Choose the correct business from the list provided.
2. If your business does not appear on the list or there is no exact match:

<figure><img src="../.gitbook/assets/image (701).png" alt="" width="375"><figcaption></figcaption></figure>

{% hint style="danger" %}
Note: Ensure the business name you select matches what you entered. If it doesn't match, please click on **My business isn't listed.**
{% endhint %}

### Step 4: Choose Preferred Verification Method

Select your preferred verification method:

**Email Verification** is the fastest way to receive OTP and get verified.&#x20;

If you select "Phone call" or "Text Message" as your preferred contact method, it's essential to provide a valid legal document that clearly includes your organization's name and phone number.

<figure><img src="../.gitbook/assets/image (702).png" alt="" width="370"><figcaption></figcaption></figure>

### Step 5: Upload Documents

Select an accepted [document type ](meta-business-verification.md#accepted-official-documents-to-verify-your-business)and upload it. If the uploaded document includes your organization's phone number or address, choose "Yes" in the next step.

<figure><img src="https://lh7-rt.googleusercontent.com/slidesz/AGV_vUdALbD_QdRQ0CDAVLGLCagQjyh2k69npgf6T1CTJMGBXq61oYLegiW0efed_39KiBZy5mfapGfWuetsFI88QfM0IRweMbYcZrn3UTUA1SZnq597YBJFW0quQARYljLThUVkLQFhHAwpN7514pbkMyrwyKDr-19D=s2048?key=xASp0vI8HGng550mKgBz0g" alt=""><figcaption></figcaption></figure>

{% hint style="warning" %}
* Ensure the documents show the exactly same legal business name and address as your Meta Business Settings.
{% endhint %}



### Step 6: Enter the Verification Code

1. Receive the OTP via your selected method (email, phone call, or text).
2. Enter the code to complete verification

<figure><img src="../.gitbook/assets/image (703).png" alt=""><figcaption></figcaption></figure>

### Step 7: Click Next

If you receive confirmation that your business is verified, you're all set! You'll receive a notification when the review is complete. You can also check your status in Security Centre.

{% hint style="info" %}
After you've submitted your verification, a decision can be made in as little as 10 minutes and as long as 14 working days. You'll receive a notification from facebook when the review is complete.
{% endhint %}



## Common Reasons for the rejection of Business Verification

* **Legal Name Document & Address Proof Document have different addresses** (Ensure all documents have the same address)   &#x20;
* **Business website is not provided or not working**
* **Business Legal Name not found in the website URL submitted** (Ensure your company's legal name is on the footer of your website)

<figure><img src="../.gitbook/assets/image (704).png" alt="" width="563"><figcaption></figcaption></figure>

* **Business Email Address not used during verification** (Use your registered business email address for Business Verification)



## **Accepted Official Documents to Verify your Business**

The primary document types that are acceptable for business verification are as follows. Make sure that these documents are not expired and are issued by the relevant authorities.

* **Certificate/Articles of incorporation**
* **Business registration or licence document**
* **Government-issued business tax document**: This could include a tax certificate. Self-filed tax documents are not accepted.
* **Business bank statement**
* A **utility bill (phone, internet, water) is a MUST** for Meta Business Verification **to proof that your business phone number belongs to the business**.

{% hint style="warning" %}
The phone number shown on your utility bill must be a WhatsApp API number that is registered under your business account portfolio.
{% endhint %}

{% hint style="info" %}
If you are using Utility Bills or Bank Statement, the legal name of the business should be clearly specified in the document.
{% endhint %}



